body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}
h1{
  text-align: center;
  color: #56ab2f;
}

#recipe-settings {
  margin-bottom: 20px;
  text-align: center;
}

#recipe-settings select {
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-right: 10px; 
}

#recipe-settings label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

#recipe-number, #load-recipes {
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#recipe-number {
  width: 80px; /* Adjust the width of the number input */
}

#load-recipes {
  background-color: #56ab2f;
  color: white;
  cursor: pointer;
  border: none;
}

#load-recipes:hover, #load-recipes:focus {
  background-color: #408c23;
}

.recipe-container {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.recipe-container img {
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust for consistent image height */
  object-fit: cover; /* Ensure images cover the area well */
  margin-right: 20px;
  border-radius: 4px;
}

.ingredients-container {
  flex: 1;
}

.ingredients-container h2, .ingredients-container h3 {
  margin: 0;
  padding: 0;
  color: #333;
}

.ingredients-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.ingredients-container h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #56ab2f;
}

.ingredients-container ul {
  list-style-type: none;
  padding: 0;
}

.ingredients-container ul li {
  font-size: 14px;
  padding: 5px 0;
  color: #666;
}
